@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@plugin "@midudev/tailwind-animations";

* {
  box-sizing: border-box;
  color-scheme: light dark;
}
